
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <div class="valign-wrapper header purple-text">
        <div class="header purple-text">

          <h5 class="valign">Customize your Ad</h5>
        </div>
      </div>

      <br>
      <div class="row">

          <% @ads.each_with_index do |ad, index| %>
            <div class="col s10">
              <p>
                <input type="checkbox" id=<%="ad_#{index}"%> checked="checked" />
                <label for=<%="ad_#{index}"%> ><%= ad[:text]%></label>
              </p>
            </div>
          <% end %>

      </div>
    <%= link_to "Done", hotels_path, class: "waves-effect waves-light btn" %>
    </div>

  </div>
